@font-face {
    font-family: 'MonoSpatial';
    src: url('MonoSpatial.woff2') format('woff2'),
        url('MonoSpatial.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

